<h1 dynamic>Mouse popOver Example<h1>
<div ng-controller="PopoverDemoCtrl">
    <h4>Triggers</h4>
    <p>
      <button popover="I appeared on mouse enter!" popover-trigger="mouseenter" class="btn btn-default">Mouseenter</button>
    </p>
    <input type="text" value="Click me!" popover="I appeared on focus! Click away and I'll vanish..."  popover-trigger="focus" class="form-control">
</div>


<br>
<h1>Pop Collapse Example</h1>

<div ng-controller="CollapseDemoCtrl">
    <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Toggle collapse</button>
    <hr>
    <div collapse="isCollapsed">
        <div class="well well-lg">Some content</div> 
    </div>
</div>
<div my-dom-directive>Click Me!</div>
<a change-link href="https://www.facebook.com/?_rdr">facebook.com</a>
