<div ng-controller="loginController">
<p>Total Record: {{nameDetails.length}}</p>
<p><a data-toggle="modal" data-target="#exampleModal" data-whatever="" href="">Add New Record </a></p>
<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Action</th>
  </tr>
  <tr ng-repeat="name in nameDetails">
    <td>{{name.firstname}}</td>
    <td>{{name.lastname}}</td>
    <td><a data-toggle="modal" ng-click="editUser(name)" data-target="#exampleModal" data-whatever="{{name}}" data-index="{{$index}}" href="">Edit /</a><a ng-click="deleteRecord($index)" href="">Delete </a></td>
  </tr>
</table>


<!-- pop start from hear -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id="closemodal" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Edit User Details</h4>
      </div>
      <div class="modal-body">
      <form class="form-signin" ng-submit="updateData()">
        <h2 class="form-signin-heading">User Details</h2>
        <label class="sr-only" for="inputEmail">Email address</label>
          <input id="inputfirstname" ng-model="namedata.firstname" value="{{namedata.firstname}}"  class="form-control" type="text" autofocus="" required="" placeholder="FirstName">
          <label class="sr-only" for="inputPassword">Password</label>
          <input id="inputlastname" ng-model="namedata.lastname" value="{{namedata.lastname}}"class="form-control" type="text" required="" placeholder="Lastname">
          <div class="checkbox">
        </div>
         <button class="btn btn-lg btn-primary btn-block" type="submit" ng-if="namedata.firstname">Update</button>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-if="!namedata.firstname &&!namedata.lastname ">Save</button>
    </form>
    </div>
  </div>
</div>
</div>
<!-- pop start from hear --> 
