<div ng-controller="ModalDemoCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">User Login!</h3>
        </div>
          <form ng-submit="logiuser()"> 
        <div class="modal-body">
            <label for="usermail">Email</label>  
                <input type="text" name="usermail" ng-model="userDetails.usermail" required>  
            <label for="password">Password</label>  
                 <input type="password" name="password" ng-model="userDetails.password" required>  
       </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Login</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
        </form>  
    </script>
    <button class="btn btn-default" ng-click="open(userDetails)">Open me!</button>
</div>